header{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

}
.imgLogo{
  margin-left: 20px;
  width: 10%;
}
.navHeader {
    width: 90%;
    align-items: center;
    height: 4vh;
    justify-content:stretch;
  }
  .navHeader a {
   color: white;
   width: 45%;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.2em;
    padding: 20px;
  }
  a.active{
    color: red;
    font-weight: bold;
  }
